/* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Single+Day&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* font-family: "Roboto", sans-serif; */
  font-family: "Single Day", cursive;
}

body{
    transition: 1s;
}

.main {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 30rem;
  border-radius: 10px;
  background-color: white;
  padding: 10px;
  font-size: 40px;
  text-align: center;
}

button {
  font-size: 20px;
  border-radius: 6px;
  display: block;
  width: 100%;
  background-color: black;
  color: white;
  border: none;
}
